@sap:registry=http://nexus.wdf.sap.corp:8081/nexus/content/groups/build.milestones.npm
@ui5:registry=http://nexus.wdf.sap.corp:8081/nexus/content/groups/build.milestones.npm
@sap-fe:registry=http://nexus.wdf.sap.corp:8081/nexus/content/groups/build.milestones.npm